// Colors
$pink-light: #ff94a6;
$pink-dark: #ff8b9e;

$pink-white: rgb(355, 239, 240);
$main-bg: #f8f8f8;
$white-bg: #f6f6f6;
$input-bg: #f7f7f7;

$green-clr: #2cc701;
$green-light-clr: #dff8e2;

$yellow-clr: #e5a039;
$yellow-light-clr: #ffffff;

$red-clr: #ff2300;
$red-light-clr: #fff5dc;

$blue-clr: #4169e2;
$blue-light-clr: #e1e8fb;

// Fonts
$gray-clr: #a9a9a9;
